* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0px;
}

.landingText {
  color: white;
}
.sphere {
  position: fixed;
  top: 0;
  z-index: -1;
}

.masterStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  /* pointer-events: none; */
  padding: 4rem;
  /* height: 100vh; */
}

.scrollBar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1rem;
  justify-content: space-between;
  background-color: #e7e7e7;
  width: 20rem;
}

.scrollUsers {
  height: 50vh;
  overflow: auto;
  padding: 0.5rem 0.5rem;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.sbForm {
  height: 50vh;
  background-color: white;
  border-radius: 8px;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.UserCard {
  /* border: 1px solid black; */
  display: flex;
  gap: 20px;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
}

.UserCard:hover {
  background-color: rgb(
    235,
    235,
    235
  ); /* Temporary: To test if hover state is working */
}

.rem35 {
  width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.simpleButton {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.simpleButton:hover {
  box-shadow: 0px 0px 1.2rem #a889e7;
}

.Profile {
  flex: 1;
  padding: 2.5rem 2rem;
  overflow: auto;
  height: 100vh;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.LoanCard {
  border: 1px solid rgb(225, 225, 225);
  display: flex;
  padding: 0.5rem;
}

.LoanCard:hover {
  border: 1px solid rgb(148, 187, 223);
}

.LoanCard1 {
  /* border: 1px solid rgb(196, 196, 196); */
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  width: 15rem;
}

.LoanCard2 {
  border: 1.5px solid rgb(0, 0, 0);
  display: flex;
  /* gap: 10px; */
  /* padding: 0.5rem; */
  width: 100%;
  overflow-x: scroll;
}

.LoanCard2:hover {
  border: 1.5px solid rgb(0, 132, 255);
  box-shadow: #a889e7;
}

.LoanCard2_card {
  border: 0.1px solid rgb(232, 232, 232);
  display: flex;
  flex-shrink: 0; /* Prevents the item from shrinking */
  flex-direction: column;
  /* align-items: end; */
  width: 200px;
  /* justify-content: space-between; */
  gap: 1rem;
  padding: 0.5rem;
  /* padding-left: ; */
}
